html,body
{
    background: url(../img/background-21717_1920.jpg) center center fixed;
    background-size: cover;
}
.heading
{
    font-size: 55px;
    font-family: Roboto;
    color: #fff;
    margin-top:3rem;


}
.laptimer
{
    font-size: 4.5vh;
    font-family: Roboto;
    color: #fff;
    margin-top:0.1rem;
}
.timer
{
    font-size: 15vh;
    font-family: Roboto;
    color: #fff;
    margin-top:0.2rem;
}

#button1
{
    font-family: Roboto;
    font-size: 20px;
    margin-top: 2rem;
    margin-left:15vw; 
    padding: 40px;
    border-radius: 100%;
    cursor: pointer;
}
#button2
{
    font-family: Roboto;
    font-size: 20px;
    margin-top: 2.1rem;
    margin-left:15vw; 
    padding: 41px;
    border-radius: 100%;
    cursor: pointer;
}

