html,
body {
    background: url(../img/background-21717_1920.jpg) center center fixed;
    background-size: cover;
}
#header
{
    text-align: center;
    font-size: 7vh;
    color: #fff;
    font-family: roboto;
}
#lap
{
    margin-top: 2vh;
    text-align: right;
    font-size: 4.5vh;
    color: #fff;
    font-family: roboto;
}
#timer
{
    margin-top: 1vh;
    text-align: center;
    font-size: 9vh;
    color: #fff;
    font-family: roboto;
}
.control
{
    margin: 1vw;
    font-size: 4vh;
    border-radius: 100%;
    background-color: cornflowerblue;
    width: 10vw;
    text-align: center;
    height: 10vh;
    padding-top: 10px;
    cursor: pointer;
}